<div class="columns nested-fields">
  <div class="column is-5">
    <div class="field">
      <%= form.text_field :spec, placeholder: '請輸入商品規格', class: 'input' %>
    </div>
  </div>

  <div class="column is-2">
    <div class="field">
      <%= form.number_field :quantity, class: 'input' %>
    </div>
  </div>

  <div class="column is-1">
    <div class="field">
      <%= link_to '刪除', '#', class: 'button is-danger is-light', data: { action: 'sku-form#remove_sku' } %>
    </div>
  </div>
  <%= form.hidden_field :_destroy %>
</div>
